<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Response</title>
</head>
<body>
    <h1>Backend Response</h1>
    <p>Player: <span id="player"></span></p>
    <p>Result: <span id="result"></span></p>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            <!-- fetch('/rolldice') -->
            fetch('')
                .then(response =>{
                  if (!response.ok){
                    throw new Error('Network response was not ok');
                  }
                  return response.json();
                })
                .then(data => {
                    document.getElementById('player').textContent = data.player;
                    document.getElementById('result').textContent = data.result;
                    console.log('Data:', data);
                })
                .catch(error => console.error('Error fetching data:', error));
        });
    </script>
</body>
</html>

